@import "../global.css";

small{
    font-size: 14px;
    color: #b22;
}
.navbar-adm-area
{
    box-shadow: 0px 0px 16px -7px #515151;
}

.navbar-adm-area,
.navbar-adm-area .navbar-adm-wrapper
{
    width: var(--full);
}

.navbar-adm-area .navbar-adm-wrapper
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 70px;
}

.navbar-adm-area .navbar-adm-wrapper h1
{
    text-transform: uppercase;
}

.login-area,
.login-area .login-wrapper
{
    width: var(--full);
}

.login-area .login-wrapper
{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-area .login-wrapper form
{
    max-width: 350px;
    padding: 25px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--marrom-100);
    border-radius: 20px 0 20px 0;
    box-shadow: 0px 0px 3px 0px var(--font-color);
    width: var(--full);
}

.login-area .login-wrapper form .form-items
{
    display: flex;
    justify-content: center;
    width: var(--full);
    flex-direction: column;
    margin-top: 20px;
}

.login-area .login-wrapper form .form-items label
{
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 15px;
}

.login-area .login-wrapper form .form-items input
{
    border-style: none;
    border-radius: 10px;
    min-height: 35px;
    border: 2px solid var(--marrom-25);
    padding-left: 15px;
}

.login-area .login-wrapper form .btn-area
{
    width: var(--full);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-area .login-wrapper form .btn-area button
{
    border-style: none;
    width: var(--full);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
    background-color: var(--yellow);
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 3px 0px var(--font-color);
    border-radius: 10px;
    cursor: pointer;
}

.messageErrorLogin
{
    width: var(--full);
    position: fixed;
    left: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeLeft .4s ease-in-out alternate forwards;
}

.messageErrorLogin .messageError
{
    max-width:  350px;
    width: var(--full);
    min-height: 70px;
    background-color: var(--yellow);
    padding: 5px;
    border-radius: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageErrorLogin .messageError p
{
    text-align: center;
    font-weight: bold;
}

.container-admin
{
    display: flex;
}

.sidebar-area
{
    width: 75px;
    min-height: 100vh;
    background-color: var(--yellow);
    padding: 35px 15px;
    transition: all 0.3s ease-in-out;
}

.sidebar-area::-webkit-scrollbar
{
    width: 8px;
}

.sidebar-area::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: var(--marrom-50);
}

.sidebar-oppened {
    width: 320px !important;
    transition: all 0.3s ease-in-out;
}

.sidebar-area .sidebar-wrapper
{
    width: var(--full);
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    top: 35px;
}

.sidebar-area .sidebar-wrapper .gadgets-wrapper
{
    width: var(--full);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.sidebar-oppened .sidebar-wrapper .gadgets-wrapper
{
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

.sidebar-area .sidebar-wrapper .gadgets-wrapper .gadgets-items
{
    min-width: 62.33px;
    min-height: 61.79px;
    border-radius: 10px;
    margin: 0 calc(9.7px / 2);
    padding: 3px;
    width: var(--full);
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-area .sidebar-wrapper .gadgets-wrapper .gadgets-items p
{
    text-align: center;
    font-weight: 600;
}

.sidebar-area .sidebar-wrapper .gadgets-wrapper .gadgets-items span
{
    font-weight: 600;
}

.sidebar-area .sidebar-wrapper .sidebar-items
{
    width: var(--full);
    transition: all 0.3s ease-in-out;
}

.sidebar-area .sidebar-wrapper .sidebar-items ul
{
    list-style: none;
    margin-top: 32px;
}

.sidebar-area .sidebar-wrapper .sidebar-items ul li
{
    margin: 25px 0;
    position: relative;
}

.sidebar-area .sidebar-wrapper .sidebar-items ul li .content
{
    height: 0;
    overflow: hidden;
}

.sidebar-area .sidebar-wrapper .sidebar-items ul li span
{
    display: flex;
    width: var(--full);
    min-height: 40px;
    background-color: #fff;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 3px 0px var(--font-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.sidebar-area .sidebar-wrapper .sidebar-items ul li span::before
{
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: var(--full);
    height: var(--full);
}

.sidebar-area .sidebar-wrapper .sidebar-items ul li.sidebar-active span
{
    box-shadow: unset;
}

.sidebar-area .sidebar-wrapper .sidebar-items ul li span i
{
    padding-right: 20px;
}

.sidebar-area .sidebar-wrapper .sidebar-items ul li.sidebar-active span
{
    border-radius: 10px 10px 0px 0px;
    transition: all 0.3s ease-in-out;
}

.sidebar-area .sidebar-wrapper .sidebar-items ul li.sidebar-active .content
{
    height: auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 15px;
}

.sidebar-area .sidebar-wrapper .sidebar-items ul li.sidebar-active .content ul
{
    list-style: none;
    margin-top: 0;
    animation: fadeIn 0.3s 0.3s ease-in-out alternate forwards;
    opacity: 0;
}

.sidebar-area .sidebar-wrapper .sidebar-items ul li.sidebar-active .content ul li
{
    margin: 0;
}

.sidebar-area .sidebar-wrapper .sidebar-items ul li.sidebar-active .content ul li a
{
    min-height: 40px;
    width: var(--full);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-area .sidebar-wrapper .sidebar-items ul li.sidebar-active .content ul li:not(:last-child) a
{
    border-bottom: 1px solid #ccc;
}

.sidebar-area .sidebar-wrapper .sidebar-header
{
    width: var(--full);
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    overflow: hidden;
}

.sidebar-area .sidebar-wrapper .sidebar-header button
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    padding: 0 10px;
}

.sidebar-area .sidebar-wrapper .sidebar-header button i,
.sidebar-area .sidebar-wrapper .sidebar-header h1
{
    font-size: 24px;
    color: #fff;
}

.sidebar-area .sidebar-wrapper .sidebar-header h1
{
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 15px;
}

[data-js='btn-mobile']
{
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    width: var(--full);
    min-height: 50px;
    background-color: var(--yellow);
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 5;
    border-radius: 10px 0 10px 0;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px #ccc;
}

[data-js='btn-mobile'] i
{
    font-size: 24px;
}

.navbar-mobile-area
{
    width: var(--full);
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--marrom-25);
    z-index: 4;
    transition: all 0.3s ease-in-out;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-mobile-area .nav-mobile
{
    width: var(--full);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 50px;
}

.navbar-mobile-area .nav-mobile li
{
    font-weight: bold;
    width: calc(50vw - 20px);
    min-height: 120px;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    text-transform: uppercase;
    margin: 20px 0;
}

.navbar-mobile-area .nav-mobile li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--full);
    min-height: 30px;
    background-color: var(--marrom-50);
    color: #fff;
    border-radius: 10px;
    text-transform: capitalize;
}

.navbar-mobile-area .nav-mobile li a
{
    margin-top: 10px;
}

.menu-mobile-active
{
    height: 100vh;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}

.topbar-area
{
    padding: 10px 26px;
    width: var(--full);
    border-bottom: 1px solid #ccc;
    position: sticky;
    z-index: 3;
    top: 0;
    background-color: #fff;
}

.topbar-area .topbar-wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--full);
    min-height: 80px;
}

.topbar-area .topbar-wrapper .btn-standBy
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.topbar-area .topbar-wrapper .btn-standBy,
.topbar-area .topbar-wrapper .btn-standBy i
{
    font-size: 18px;
}

.topbar-area .topbar-wrapper .topbar-acessibility
{
    position: relative;
    display: flex;
    align-items: center;
    max-width: 270px;
    width: 100%;
    justify-content: space-between;
}

.topbar-area .topbar-wrapper .topbar-acessibility .notifications-area
{
    cursor: pointer;
    margin-right: 70px;
}

.topbar-area .topbar-wrapper .topbar-acessibility .notifications-area .counter-area
{
    max-width: 51px;
    width: var(--full);
    min-height: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--yellow);
    padding: 5.5px;
    border-radius: 10px;
}

.topbar-area .topbar-wrapper .topbar-acessibility .notifications-area .counter-area i
{
    padding-right: 6px;
    font-weight: bold;
}

.topbar-area .topbar-wrapper .topbar-acessibility .notifications-area .counter-area p
{
    font-weight: bold;
}

.topbar-area .topbar-wrapper .topbar-acessibility .notifications-area .notifications-content
{
    position: absolute;
    background-color: var(--yellow);
    transition: all 0.3s ease-in-out;
    min-width: 140px;
    height: 0;
    overflow: hidden;
    left: -20%;
    z-index: 2;
    max-width: 167.95px;
}

.topbar-area .topbar-wrapper .topbar-acessibility .notifications-area .notifications-content-active
{
    transition: all 0.3s ease-in-out;
    animation: notificationShow .3s ease-in-out alternate forwards;
}

.topbar-area .topbar-wrapper .topbar-acessibility .notifications-area .notifications-content ul
{
    list-style: none;
    padding: 0 15px;
}

.topbar-area .topbar-wrapper .topbar-acessibility .notifications-area .notifications-content ul li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    min-height: 40px;
}

.topbar-area .topbar-wrapper .user-information-area
{
    position: relative;
}

.topbar-area .topbar-wrapper .user-information-area button
{
    border-style: none;
    font-weight: bold;
    background-color: transparent;
    min-height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 25px;
}

.topbar-area .topbar-wrapper .user-information-area button i
{
    padding-left: 10px;
}

.topbar-area .topbar-wrapper .user-information-area .list-information
{
    position: absolute;
    background-color: var(--yellow);
    list-style: none;
    width: var(--full);
    border-radius: 10px;
    overflow: hidden;
    height: 0;
}

.topbar-area .topbar-wrapper .user-information-area .list-information-active
{
    transition: all 0.3s ease-in-out;
    animation: notificationShow .3s ease-in-out alternate forwards;
}

.topbar-area .topbar-wrapper .user-information-area .list-information li a
{
    min-height: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-area
{
    width: var(--full);
}

.welcome-area .search-area
{
    width: var(--full);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0 15px;
}

.welcome-area .search-area form
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 820px;
    width: var(--full);
    background-color: var(--marrom-100);
    padding: 28px 40px;
    border-radius: 20px 0px 20px 0px;
    position: relative;
}

.welcome-area .search-area form .form-items
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: var(--full);
}

.welcome-area .search-area form .form-items label
{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 20px;
}

.welcome-area .search-area form .form-items input
{
    min-height: 50px;
    width: var(--full);
    padding-left: 15px;
}

.welcome-area .search-area form .btn-area
{
    width: var(--full);
    margin-top: 20px;
}

.welcome-area .search-area form .btn-area button
{
    border-style: none;
    background-color: var(--yellow);
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    width: var(--full);
    min-height: 40px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 3px 0px;
    cursor: pointer;
}

.welcome-area .welcome-content
{
    width: var(--full);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 820px;
    margin: 40px auto;
}

.welcome-area .welcome-content .welcome-items
{
    max-width: 400px;
    min-height: 200px;
    background-color: var(--marrom-100);
    border-radius: 20px;
    width: var(--full);
    border: 2px solid var(--font-color);
    padding: 40px;
    position: relative;
    overflow: hidden;
    margin: 0 10px;
}

.welcome-area .welcome-content .welcome-items .btn-area
{
    width: var(--full);
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.welcome-area .welcome-content .welcome-items .btn-area a
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    width: var(--full);
    min-height: 40px;
    background-color: var(--marrom-25);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px 0px 0px 0px;
}

.welcome-area .welcome-content .welcome-items .title-area .title h2
{
    font-size: 24px;
    z-index: 2;
    font-weight: bold;
    position: relative;
}

.welcome-area .welcome-content .welcome-items .subtitle p
{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 2;
    position: relative;
}

.welcome-area .welcome-content .welcome-items:first-child:before
{
    content: "\f03e";
    font-family: 'icomoon';
    font-size: 140px;
    position: absolute;
    opacity: 0.2;
    top: 0;
    right: 40px;
}

.welcome-area .welcome-content .welcome-items:last-child:before
{
    content: "\f007";
    font-family: 'icomoon';
    font-size: 140px;
    position: absolute;
    opacity: 0.2;
    top: 0;
    right: 40px;
}

.form-content-area,
.form-content-area .form-content-wrapper .btn-form,
.form-content-area .form-content-wrapper .btn-form a
{
    width: var(--full);
}

.form-content-area .form-content-wrapper
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-content-area .form-content-wrapper .btn-form
{
    max-width: 820px;
    width: var(--full);
    margin: 0 auto;
}

.form-content-area .form-content-wrapper .btn-form a,
.form-content-area .form-content-wrapper .btn-form .wrapp label
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--marrom-25);
    color: #fff;
    min-height: 40px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--marrom-75);
    cursor: pointer;
}

.form-content-area .form-content-wrapper .admin-table .search-box
{
    width: var(--full);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 15px;
}

.form-content-area .form-content-wrapper .admin-table .search-box input
{
    border-style: none;
    border: 2px solid var(--marrom-25);
    min-height: 35px;
    padding-left: 15px;
    border-radius: 10px;
}

.form-content-area .form-content-wrapper .admin-table .btn-add
{
    width: var(--full);
    margin: 40px 0;
}

.form-content-area .form-content-wrapper .admin-table .btn-add button
{
    border-style: none;
    background-color: var(--yellow);
    display: flex;
    width: fit-content;
    min-height: 35px;
    border-radius: 10px;
    display: flex;
    padding: 10px 15px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.form-content-area .form-content-wrapper .admin-table .btn-add button i
{
    padding-right: 5px;
}

.form-content-area .form-content-wrapper .btn-form .imoveis-button
{
    padding: 30px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.form-content-area .form-content-wrapper .btn-form a:hover p,
.form-content-area .form-content-wrapper .btn-form .wrapp label:hover p
{
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.form-content-area .form-content-wrapper .btn-form a p,
.form-content-area .form-content-wrapper .btn-form .wrapp label p
{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.form-content-area .form-content-wrapper .btn-form a:first-child p:before,
.form-content-area .form-content-wrapper .btn-form .wrapp:first-child label p:before
{
    content: "\f15c";
    font-family: 'icomoon';
    font-weight: normal;
    margin-right: 10px;
}

.form-content-area .form-content-wrapper .btn-form a:last-child p:before,
.form-content-area .form-content-wrapper .btn-form .wrapp:last-child label p:before
{
    content: "\f0c5";
    font-family: 'icomoon';
    font-weight: normal;
    margin-right: 10px;
}

.form-content-area .form-content-wrapper .btn-form .imoveis-button label p:before
{
    content: "\f03e";
    font-family: 'icomoon';
    font-weight: normal;
    margin-right: 10px;
}

.form-content-area .form-content-wrapper .btn-form a:not(:first-child),
.form-content-area .form-content-wrapper .btn-form .wrapp:not(:first-child)
{
    margin-top: 20px;
}

.form-content-area .form-content-wrapper .btn-form .wrapp input[type=file]
{
    display: none;
}

.form-content-area .form-content-wrapper::-webkit-scrollbar
{
    width: 10px;
}

.form-content-area .form-content-wrapper::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: var(--marrom-50);
}

.title-page-area
{
    padding: 10px 15px;
    margin: 40px 0;
}

.title-page-area,
.title-page-area .title-page-wrapper
{
    width: var(--full);
}

.title-page-area .title-page-wrapper
{
    padding: 10px 15px;
    padding-top: 35px;
    position: relative;
    max-width: 820px;
    background-color: var(--marrom-100);
    width: var(--full);
}

.title-page-area .title-page-wrapper::before
{
    width: 50px;
    height: 4px;
    background-color: var(--yellow);
    content: "";
    position: absolute;
    right: -11px;
    top: -3.3px;
}

.title-page-area .title-page-wrapper::after
{
    width: 4px;
    height: 50px;
    background-color: var(--yellow);
    content: "";
    position: absolute;
    right: -4px;
    top: -10px;
}

.title-page-area .title-page-wrapper .title
{
    position: absolute;
    top: -20px;
    left: 20px;
    background-color: var(--yellow);
    padding: 10px 15px;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 0px 0px 3px 0px var(--font-color);
}

.form-content-area .form-content-wrapper
{
    padding: 0 10px;
}

.form-content-area .form-content-wrapper form
{
    display: flex;
    flex-direction: column;
    max-width: 820px;
    width: var(--full);
}

.form-content-area .form-content-wrapper form .form-item
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-content-area .form-content-wrapper form .form-item:not(:first-child)
{
    margin-top: 20px;
}

.form-content-area .form-content-wrapper form .form-item label
{
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 10px;
}

.form-content-area .form-content-wrapper form .form-item input,
.form-content-area .form-content-wrapper form .form-item textarea
{
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--font-color);
    padding-left: 15px;
}

.form-content-area .form-content-wrapper form .form-item textarea
{
    height: auto;
    padding-top: 10px;
    min-height: 100px;
    resize: vertical;
}

.form-content-area .form-content-wrapper form .form-wrapp
{
    margin-top: 20px;
}

.form-content-area .form-content-wrapper form .form-wrapp,
.form-content-area .form-content-wrapper form .form-wrapp .form-item
{
    display: flex;
    justify-content: center;
    width: var(--full);
}

.form-content-area .form-content-wrapper form .form-wrapp .form-radio
{
    width: var(--full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content-area .form-content-wrapper form .form-wrapp .form-radio label
{
    padding-right: 15px;
    font-weight: bold;
}

.form-content-area .form-content-wrapper form .form-wrapp .form-item
{
    margin: 0;
}

.form-content-area .form-content-wrapper form .form-wrapp .form-item input
{
    width: var(--full);
}

.form-content-area .form-content-wrapper form .form-wrapp .form-item:first-child
{
    margin-right: 10px;
}

.form-content-area .form-content-wrapper form .form-wrapp .form-item:last-child
{
    margin-left: 10px;
}

.form-content-area .form-content-wrapper form select
{
    border-style: none;
    min-height: 40px;
    border-radius: 10px;
    border: 2px solid var(--font-color);
    padding: 0 15px;
}

.form-content-area .form-content-wrapper form .btn-area
{
    width: var(--full);
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content-area .form-content-wrapper form .btn-area button
{
    border-style: none;
    background-color: var(--yellow);
    display: flex;
    width: var(--full);
    min-height: 40px;
    border-radius: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.admin-table
{
    width: var(--full);
}

.admin-table table
{
    width: var(--full);
}

.admin-table table thead
{
    border-bottom: 1px solid var(--font-color);
}

.admin-table table thead th
{
    background-color: var(--yellow);
    color: #fff;
}

.admin-table table tbody tr
{
    background-color: var(--marrom-100);
}

.admin-table table tbody tr td
{
    font-weight: bold;
    text-align: center;
    padding: 10px 5px;
}

.admin-table table tbody tr td .btn-area
{
    width: var(--full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-table table tbody tr td .btn-area button
{
    margin-left: 15px;
    border-style: none;
    background-color: var(--marrom-25);
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.admin-table table tbody tr td .btn-area button i
{
    margin-right: 10px;
    color: #fff;
}

.admin-table table tbody tr td a
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    padding: 5px 10px;
    border-radius: 10px;
}

.admin-table table tbody tr td a i
{
    margin-right: 10px;
}

.modal-delete-area
{
    position: fixed;
    width: var(--full);
    height: var(--full);
    z-index: 3;
    background-color: rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-delete-active
{
    display: flex;
}

.modal-delete-area .modal-delete-wrapper
{
    max-width: 450px;
    width: var(--full);
    min-height: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px var(--font-color);
    padding: 15px;
    overflow: hidden;
    position: relative;
}

.modal-delete-area .modal-delete-wrapper .modal-header
{
    width: var(--full);
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.modal-delete-area .modal-delete-wrapper .modal-body
{
    margin: 20px 0;
}

.modal-delete-area .modal-delete-wrapper .modal-body p
{
    font-weight: bold;
    text-align: center;
}

.modal-delete-area .modal-delete-wrapper .modal-body .btn-area
{
    margin-top: 20px;
    width: var(--full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-delete-area .modal-delete-wrapper .modal-body .btn-area button
{
    border-style: none;
    box-shadow: 0px 0px 3px 0px var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    width: var(--full);
    border-radius: 10px;
    min-height: 35px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.modal-delete-area .modal-delete-wrapper .modal-body .btn-area button:first-child
{
    margin-right: 7px;
    background-color: var(--yellow);
}

.modal-delete-area .modal-delete-wrapper .modal-body .btn-area button:last-child
{
    margin-left: 7px;
    background-color: var(--font-color);
    color: #fff;
}

.loading
{
    position: absolute;
    left: 0;
    top: 0;
    width: var(--full);
    height: 100%;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin:auto;display:block;' width='200px' height='200px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Cg transform='translate(50 50) scale(0.8)'%3E%3Cg%3E%3CanimateTransform attributeName='transform' type='scale' repeatCount='indefinite' calcMode='spline' dur='1s' values='0.8;0.5;0.8' keyTimes='0;0.5;1' keySplines='0.5 0 0.5 1;0.5 0 0.5 1'%3E%3C/animateTransform%3E%3Crect x='-45' y='-45' width='90' height='90' fill='%23e3b23b' stroke='%23edebd7' stroke-width='8' stroke-linejoin='round' rx='1' ry='1'%3E%3Canimate attributeName='rx' repeatCount='indefinite' dur='1s' values='0;50;0' keyTimes='0;0.5;1'%3E%3C/animate%3E%3Canimate attributeName='ry' repeatCount='indefinite' dur='1s' values='0;50;0' keyTimes='0;0.5;1'%3E%3C/animate%3E%3Canimate attributeName='stroke-width' repeatCount='indefinite' dur='1s' values='8;12.8;8' keyTimes='0;0.5;1'%3E%3C/animate%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='1s' values='0 0 0;270 0 0;540 0 0' keyTimes='0;0.5;1' calcMode='spline' keySplines='0.5 0 0.5 1;0.5 0 0.5 1'%3E%3C/animateTransform%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

[data-js='loadingFetch']
{
    background-size: 10%;
}

.boxMessageTable
{
    position: fixed;
    bottom: 10px;
    width: var(--full);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.boxMessageTable .boxMessage
{
    padding: 50px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    border-radius: 10px;
}

.modal-file-adicionar-area
{
    position: fixed;
    top: 0;
    left: 0;
    width: var(--full);
    height: 100%;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    padding: 0 10px;
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar
{
    max-width: 450px;
    width: var(--full);
    background-color: #fff;
    padding: 25px 20px;
    box-shadow: 0px 0px 3px 0px var(--font-color);
    border-radius: 20px;
    position: relative;
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar .closeModalMensalidade
{
    position: absolute;
    top: 15px;
    right: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar .title-area,
.modal-file-adicionar-area .modal-file-mensalidade-adicionar .btn-area
{
    width: var(--full);
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar .title-area .title
{
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar .title-area .title h1
{
    text-transform: uppercase;
    font-size: 18px;
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar .form-items
{
    width: var(--full);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px 0;
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar .form-items label[for=descricao]
{
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 15px;
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar .form-items textarea
{
    border-style: none;
    border: 2px solid var(--marrom-25);
    border-radius: 10px;
    resize: none;
    min-height: 100px;
    padding-left: 15px;
    padding-top: 10px;
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar .form-items input[type=text],
.modal-file-adicionar-area .modal-file-mensalidade-adicionar .form-items input[type=date]

{
    border-style: none;
    border: 2px solid var(--marrom-25);
    border-radius: 10px;
    min-height: 40px;
    padding-left: 15px;
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar .btn-area
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar .btn-area button
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: var(--marrom-25);
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar .form-items .fileModal
{
    width: var(--full);
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar .form-items .fileModal label
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    border: 2px solid var(--marrom-75);
    background-color: var(--marrom-25);
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar .form-items .fileModal label p
{
    color: #fff;
}

.modal-file-adicionar-area .modal-file-mensalidade-adicionar .form-items .fileModal input[type=file]
{
    display: none;
}


.back-home-area
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.back-home-area a i
{
    font-size: 14px;
}

.back-home-area a
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.back-fixed
{
    position: fixed;
    width: fit-content;
    z-index: 3;
    visibility: hidden;
}

.back-fixed a
{
    background-color: var(--yellow);
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
}

.map-link-helper
{
    margin-top: 5px;
    position: relative;
    cursor: pointer;
}

.map-link-helper::after
{
    content: attr(data-text);
    position: absolute;
    line-height: 1.2;
    padding: 10px;
    display: flex;
    visibility: hidden;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--font-color);
    color: #fff;
    font-family: 'Nunito';
    transition: all 0.3s ease-in-out;
    width: 250px;
    border-radius: 10px;
}

.map-link-helper:hover::after
{
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

.form-imoveis-images
{
    width: var(--full);
    padding: 0 15px;
    display: flex;
    align-items: center;
    margin: 40px 0;
    flex-wrap: wrap;
}

.form-imoveis-images .btn-image-insert
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-imoveis-images .btn-image-insert
{
    background-color: var(--marrom-100);
    border-radius: 10px;
    min-height: 300px;
    max-width: 300px;
    width: var(--full);
    overflow: hidden;
    padding: 10px;
    border: 2px solid var(--marrom-75);
    box-shadow: 0px 0px 3px 0px #ccc;
    cursor: pointer;
}

.form-imoveis-images .btn-image-insert i
{
    font-size: 35px;
}

.form-imoveis-images .btn-image-insert p
{
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
}

.form-send-image
{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--full);
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    padding: 0 15px;
    z-index: 3;
}

.form-send-image form
{
    max-width: 950px;
    border-radius: 20px 0px 20px 0;
    background-color: #fff;
    width: var(--full);
    box-shadow: 0px 0px 3px 0px #000;
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.form-send-image form span
{
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.form-send-image form .form-items
{
    min-height: 600px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form-send-image form .form-items
{
    width: 70%;
}
.form-send-image form .form-items:last-child
{
    width: 30%;
}

.form-send-image form .form-items:last-child .btn-send-image
{
    margin-top: 40px;
}

.form-send-image form .form-items:last-child .btn-send-image button i
{
    color: #fff;
}

.form-send-image form .form-items label
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50px;
    background-color: var(--marrom-75);
    border-radius: 10px;
    width: var(--full);
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px #000;
}

.form-send-image form .form-items input
{
    display: none;
}

.form-send-image form .form-items button {
    display: block;
    width: 100%;
    padding: .8rem 1.6rem;
    overflow: hidden;
    position: relative;
    font-size: 1.2rem;
    font-weight: normal;
    border: none;
    border-radius: 0.4rem;
    background: var(--marrom-75);
    color: #fff;
    cursor: pointer;
}

.img-wrapper
{
    padding: 30px 15px;
}

.img-wrapper .imagePreview
{
    max-width: var(--full);
    max-height: 350px;
    display: block;
}

.img-wrapper .image-hide
{
    display: none !important;
}

.form-send-image form .form-items .preview-photo
{
    overflow: hidden;
    width: 180px;
    height: 180px;
    border: 2px solid var(--font-color);
    border-radius: 10px 0 10px 0;
}

.hide-preview
{
    display: none !important;
}

.form-imoveis-images .imoveis-image-area
{
    display: flex;
    flex-wrap: wrap;
    width: var(--full);
    margin: 50px 0;
}

.form-imoveis-images .imoveis-image-area .images-imoveis-wrapper
{
    max-width: 300px;
    max-height: 300px;
    width: var(--full);
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    border-radius: 10px;
}

.form-imoveis-images .imoveis-image-area .images-imoveis-wrapper img
{
    max-width: var(--full);
    transition: all 0.5s ease-in-out;
    filter: blur(1px);
}

.form-imoveis-images .imoveis-image-area .images-imoveis-wrapper:hover img
{
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
    filter: blur(0px);
}

.form-imoveis-images .imoveis-image-area .images-imoveis-wrapper figcaption button
{
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.form-imoveis-images .imoveis-image-area .images-imoveis-wrapper figcaption,
.form-imoveis-images .imoveis-image-area .images-imoveis-wrapper figcaption button
{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--full);
    height: var(--full);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-imoveis-images .imoveis-image-area .images-imoveis-wrapper figcaption button i
{
    font-size: 35px;
    color: #fff;
    display: none;
}

.form-imoveis-images .imoveis-image-area .images-imoveis-wrapper figcaption button i:after
{
    content: "Apagar";
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: 'nunito';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.form-imoveis-images .imoveis-image-area .images-imoveis-wrapper figcaption:hover
{
    background-color: rgba(0,0,0,0.5);
}


.form-imoveis-images .imoveis-image-area .images-imoveis-wrapper figcaption:hover button i
{
    display: block;
}

.ajustes-wrapper
{
    width: var(--full);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.ajustes-wrapper a:last-child
{
    position: relative;
}

.ajustes-wrapper a .options
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
}


.ajustes-wrapper a,
.user-conf-wrapper
{
    min-height: 300px;
    max-width: 300px;
    width: var(--full);
    margin: 50px 0;
}

.ajustes-wrapper a .ajustes-items,
.user-conf-wrapper
{
    background-color: var(--marrom-100);
    border-radius: 10px;
    min-height: 300px;
    max-width: 300px;
    width: var(--full);
    overflow: hidden;
    padding: 10px;
    border: 2px solid var(--marrom-75);
    box-shadow: 0px 0px 3px 0px #ccc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ajustes-wrapper .ajustes-items ul
{
    list-style: none;
    display: none;
}


.ajustes-wrapper .ajustes-items p,
.user-conf-wrapper p
{
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
}

.ajustes-wrapper .ajustes-items span
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.ajustes-wrapper a .ajustes-items i,
.user-conf-wrapper i
{
    font-size: 40px;
}


fieldset
{
    padding: 20px 10px;
    padding-top: 30px;
    border-radius: 10px;
    position: relative;
}

fieldset .form-item .wrapp
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--full);
}

fieldset .form-item .wrapp input
{
    width: var(--full);
}

fieldset::before
{
    content: attr(data-fieldset);
    position: absolute;
    left: 15px;
    top: -20px;
    background-color: var(--marrom-100);
    color: var(--font-color);
    padding: 5px 10px;
    border-radius: 10px 0 10px 0;
    border: 1px solid #ccc;
    font-weight: bold;
}

.user-conf-wrapper .options
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-conf-wrapper .options a
{
    margin: 25px 10px;
    font-weight: bold;
    display: flex;
    width: fit-content;
    min-height: 0;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #000;
}

fieldset .form-item button
{
    background-color: var(--marrom-50);
    color: #fff;
    min-height: 50px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    width: var(--full);
    box-shadow: 0px 0px 3px 0px #000;
    border-style: none;
    padding: 10px;
    font-weight: bold;
}

fieldset
{
    max-width: 800px;
    width: var(--full);
}

fieldset .form-item input
{
    height: 40px;
    padding-left: 15px;
    width: var(--full);
    border-radius: 10px;
    border: 2px solid var(--font-color);
}

footer
{
    width: var(--full);
    min-height: 40px;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    background-color: var(--marrom-25);
}

footer p
{
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.agendamentos
{
    position: fixed;
    bottom: 80px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--marrom-50);
    padding: 10px 25px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 0px 3px 0px #000;
}

.agendamentos .count
{
    content: "1";
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    left: -10%;
    top: -30%;
    background-color: #bb2222;
    display: flex;
    color: #fff;
}

@keyframes fadeLeft {
    0%{
        opacity: 0;
        transform: translateX(-10%);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes notificationShow {
    0%{
        height: 0;
        opacity: 0;
        transform: translateY(0);
    }
    50%
    {
        height: auto;
    }
    100%
    {
        border-radius: 0px 0px 10px 10px;
        height: auto;
        opacity: 1;
        transform: translateY(10px);
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        opacity: 1;
        visibility: visible;
    }
    99%
    {
        opacity: 0;
    }
    100%
    {
        visibility: hidden;
    }
}

@keyframes fadeInn {
    0%{
        opacity: 0;
        visibility: hidden;
    }
    99%
    {
        opacity: 1;
    }
    100%
    {
        visibility: visible;
    }
}

@media(max-width: 992px)
{
    .sidebar-area
    {
        display: none;
    }

    .form-content-area .form-content-wrapper
    {
        overflow-x: visible;
        overflow-y: visible;
    }
}

@media(min-width: 764px)
{
    fieldset .form-item .wrapp input
    {
        width: var(--full);
    }

    fieldset .form-item .wrapp input:first-child
    {
        margin-right: 15px;
    }

    fieldset .form-item .wrapp input:last-child
    {
        margin-left: 15px;
    }
}

@media(max-width: 764px)
{
    .welcome-area .welcome-content
    {
        flex-direction: column;
    }

    .welcome-area .welcome-content
    {
        padding: 0px 15px;
    }

    .welcome-area .welcome-content .welcome-items
    {
        max-width: none;
        margin: 25px 0;
    }

    fieldset .form-item .wrapp
    {
        flex-direction: column;
    }

    fieldset .form-item .wrapp input
    {
        margin: 15px 0;
    }

    [data-js='btn-mobile']
    {
        display: flex;
    }

    .menu-mobile-active
    {
        display: flex;
    }
}

@media(max-width: 684px)
{
    .form-content-area .form-content-wrapper form .form-wrapp
    {
        flex-direction: column;
    }
    .form-content-area .form-content-wrapper form .form-wrapp .form-item:last-child,
    .form-content-area .form-content-wrapper form .form-wrapp .form-item:first-child
    {
        margin: 0;
    }

    .form-content-area .form-content-wrapper form .form-wrapp .form-item:not(:first-child)
    {
        margin-top: 20px;
    }
}

@media(max-width: 486px)
{
    .welcome-area .welcome-content .welcome-items .subtitle p
    {
        font-size: 35px;
    }
    .welcome-area .search-area form
    {
        padding: 25px 25px;
    }
    .form-send-image form
    {
        flex-direction: column;
    }
    .form-send-image form .form-items
    {
        width: var(--full) !important;
        min-height: 0;
    }
}

@media(max-width: 768px)
{
    .admin-table table tbody tr td .btn-area
    {
        flex-direction: column;
    }

    .admin-table table tbody tr td .btn-area button
    {
        margin-left: 0;
        margin: 15px 0;
    }
}
